{% extends "layout-login.html" %}

{% block content%}
{% for game in games %}
        <article class="media content-section">
          <div class="media-body">
		  <h2><a class="article-title" href="{{ url_for('game', game_id=game.id) }}">{{ game.opposition }}</a></h2>
		  <p class="article-content">The next game is agaist the {{ game.opposition }} at {{ game.location }}. The game will happen on {{ game.date }}.  The players available for the game: {{ game.player }}</p>
          </div>
        </article>
{% endfor %}
{% endblock content %}
